.back{
    background-color: blueviolet;
    margin-left:-8px;
    margin-top: -10px;
    width:96rem;
    height:80px;
    
  }
  .btn{
    background-color: blueviolet;
    font-size: 30px;
    color:white;
    font-family:'Courier New', Courier, monospace;
    margin-top:20px;
    margin-left:260px;
    border:2px solid blueviolet;
   
  
  }
  .btn:hover{
    box-shadow: 0px 3px 0px 0px yellow;
    border-radius: 3px;
  }

  .table{
    width: 100%;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .header{
    display: flex;

  }

.box{
  box-sizing: border-box;
  width: 90%;
  height: 3rem;
  border: 1px solid black;
  padding-top: 1rem;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
}

.for_margin{
  width: 10rem;
}

.for_name{
  width: 10rem;
}

.for_age{
  width: 10rem;
}

.for_course{
  width: 10rem;
}

.for_batch{
  width: 15rem;
}

.mat_left{
  left: 5rem;
}

.head{
  margin-top: 2rem;
  margin-left: 10rem;
  font-weight: bold;
  font-size: 30px;
  color: #3483eb;
}

.head_btn{
  margin-left: 50rem;
  margin-top: 3rem;
}

.h_btn{
  background-color: #c634eb;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

.container{
  height: 720px;
  text-align: center;
  margin: 0px;
  background-image: linear-gradient(to bottom, #de64bb , #7eaced ,#5dcfe3  100%);
}

.simplebtns{
  background-color: #f230a2;
  margin-top: 3rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 3rem;
  border-radius: 10px;
}


.inpt{

  margin-left: 10rem;
  margin-top: 3rem;
  width: 20rem;
  height: 3rem;
  border-radius: 5px;
}